html,body,.box {
	height: 100%;
}

.box {
	font-size: 14px;
}
.box > .left {
	width: 220px;
	background-color: #B2DFEE;
	height: 100%;
	float: left;
	color: #333;
}

.box > .left a {
	color: #333;
}
.container > .left a {
	color: #ffffff;
	font-size: 16px;
}
.left > .title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 4.5em;
	border-bottom: 1px solid #ededed
}
.left >ul.left_nav li .iconfont{
	font-size: 18px;
	margin-right: 8px;

}
.left >ul.left_nav li .iconfont:last-child{
	float: right;
	margin-left: 10px;
}
.left >ul.left_nav li .icon-waiter{
	font-size: 22px;
}
.left >ul.left_nav > li{
	text-align: center;
	line-height: 3.5em;
	border-bottom: 1px solid #fff;
}


.left >ul.left_nav > li.current{
	background-color: #84C1FF;
}
.left >ul.left_nav > li.current a{
	color: #fff;
}
.left >ul.left_nav > li.current i{
	color: #fff;
}


.box > .right {
	box-sizing: border-box;
	height: 100%;
	background-color: #ededed;
	margin-left: 220px;
	padding: 10px 20px;
}
.box > .right >.content {
	border-radius: 5px;
	background-color: #fff;
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
	overflow-y: auto;
}
.box > .right >.content >.mb_nav{
	border-bottom: 1px solid #ccc;
	line-height: 3em;
	margin-bottom: 1em;
}

.mouseover {
	background-color: #ECF5FF;
}



