html,body,.container {
	height: 100%;
}
.container {
	font-size: 14px;
}
.container > .left {
	width: 220px;
	background-color: #333;
	height: 100%;
	float: left;
	color: #ffffff;
}
.container > .left a {
	color: #ffffff;
	font-size: 16px;
}
.left > .title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 4.5em;
	border-bottom: 1px solid #ededed
}
.left >ul.left_nav li .iconfont{
	font-size: 18px;
	margin-right: 8px;
}
.left >ul.left_nav > li{
	text-align: center;
	line-height: 3.5em;
	border-bottom: 1px solid #666;
}


.left >ul.left_nav > li.current{
	background-color: #ededed;
}
.left >ul.left_nav > li.current a{
	color: #666;
}
.left >ul.left_nav > li.current i{
	color: #666;
}

.container > .right {
	box-sizing: border-box;
	height: 100%;
	background-color: #ededed;
	margin-left: 220px;
	padding: 10px 20px;
}
.container > .right >.content {
	border-radius: 5px;
	background-color: #ffffff;
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
	overflow-y: auto;
}
.container > .right >.content >.mb_nav{
	border-bottom: 1px solid #ccc;
	line-height: 3em;
	margin-bottom: 1em;
}

.mouseover {
	background-color: #666;
}



